/* Main container */
.dogContainer {
  background: rebeccapurple;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainTitle {
  font-size: 45px;
  font-weight: normal;
}

/* Search Input Field */
.userInput {
  display: flex;
  justify-content: space-between;
  background: red;
  width: 60%;
  height: 59px;
  border-radius: 5px;
  border: none;
}

.userInput input {
  width: 80%;
  /* height: 38px; */
  border-radius: 5px;
  border: 2px solid;
  font-size: 24px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* .userInput input::placeholder {
  padding-left: 20px;
} */
.userInput input:focus {
  outline: none;
}

.userInput button {
  border: 2px solid;
  border-bottom: 4px solid;
  font-size: 24px;
  letter-spacing: 2px;
  width: 19%;
  /* height: 38px; */
  border-radius: 5px;
  /* border: none; */
}

/* Random Breed Button */
.randomBreedBtn {
  border: 2px solid;
  border-bottom: 4px solid;
  font-size: 30px;
  margin: 10px auto;
  width: 60%;
  height: 75px;
  border-radius: 5px;
}

/* Sub Title */
.subTitle {
  font-size: 30px;
  font-weight: normal;
}

/* Results */

.breeds {
  display: flex;
  flex-direction: column;
  width: 60%;
  background: green;
  min-height: 601px;
  margin-bottom: 100px;
}

.midTopContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0px;
}

.breedInfoContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.subTitle {
  margin-right: 18%;
  align-self: center;
}

.clearBtn {
  align-self: center;
  border: 2px solid;
  border-bottom: 4px solid;
  width: 19%;
  border-radius: 5px;
  font-size: 24px;
  letter-spacing: 1px;
  height: 53px;
}

/* Breed Images */
.breedInfoBox {
  background: bisque;
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 220px;
  margin: 5px;
  padding-top: 10px;
  box-sizing: border-box;
  align-items: center;
}

.breedInfoTop {
  display: flex;
  width: 100%;
  justify-content: center;
}
/* .breedInfoTop img {
  position: relative;
} */



.breedImages {
  background: rebeccapurple;
  width: 95%;
  height: 100px;
  position: relative;
}

.destroyBtn {
  position: absolute;
  right: 0px;
  width: 30px;
  height: 29px;
  border-radius: 50%;
  font-size: 23px;
  border: 1px solid gray;
  font-weight: normal;
  padding: 0px; 
}


.breedName{
  font-size: 24px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin: 10px;
}